/*
 * Hold any style information for APE interface. Customise if you like to make the interface your own!
 * 
 */
body {
	/* Set the background colour (note US English spelling) to grey*/
	background-color: #ddd
}

div.title {
	/* Specify any colouring for the title */
}

div.pageTitle {
	width: auto;
	height: 20px;
	margin-top: 20px;
}

div.pageTitle span{
	font-size: 1.5em;
}

div.testHalt {
	/* Specify any colouring during the test halt for pre/post questions */
	background-color: rgba(0,0,0,0.5);
	/* Don't mess with this bit */
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

button {
	/* Specify any button structure or style */
	min-width: 20px;
	background-color: #ddd
}

div#slider {
	/* Specify any structure for the slider holder interface */
	background-color: #eee;
	height: 150px;
	margin-bottom: 5px;
}

div.sliderScale {
	width: 100%;
	min-height: 30px;
}

div.sliderScale span{
	font-size: 1.2em;
}

div.sliderScale span {
	/* Any formatting of text below scale */
	min-width: 5px;
	height: 20px;
	height: 100%;
	position: absolute;
}

div.track-slider {
	/* Specify any structure for the slider objects */
	position: absolute;
	height: inherit;
	width: 12px;
	float: left;
	background-color: rgb(100,200,100);
}

div.comment-div {
	border:#444444;
	border-style:solid;
	border-width:1px;
	width: 624px;
	float: left;
	margin: 5px;
}

div.comment-div span {
	margin-left: 15px;
}

div.popupHolder {
	width: 500px;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000;
	z-index: 2;
}

button.popupButton {
	/* Button for popup window
	 */
	width: 50px;
	height: 25px;
	position: absolute;
	left: 440px;
	top: 215px;
	border-radius: 5px;
	border: #444;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
}
