/* structure.css
 * Define the structure for classes and objects in HTML
 */

div.title {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	font-size: 2em;
}

div.indicator-box {
	position: absolute;
	left: 150px;
	top: 10px;
	width: 300px;
	height: 60px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(100,200,200);
}

div.comment-div {
	border:#444444;
	border-style:solid;
	border-width:1px;
	width: 624px;
	float: left;
	margin: 5px;
}

div.comment-div span {
	margin-left: 15px;
}

div.popupHolder {
	width: 500px;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000;
	z-index: 2;
}

button.popupButton {
	/* Button for popup window
	 */
	width: 50px;
	height: 25px;
	position: absolute;
	left: 440px;
	top: 215px;
	border-radius: 5px;
	border: #444;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
}

textarea.trackComment {
	width: 618px;
	margin-right:15px;
}
