body {
    /* Set the background colour (note US English spelling) to grey*/
    background-color: #fff
}
div#feedbackHolder {
    display: flex;
    flex-direction: column;
}
div.pageTitle {
    width: auto;
    height: 20px;
    margin: 10px 0px;
}
div.pageTitle span {
    font-size: 1.5em;
}
button {
    /* Specify any button structure or style */
    min-width: 20px;
    background-color: #ddd
}
button.big-button {
    width: 250px;
    height: 40px;
    font-size: 1.2em;
}
div#submit-holder {
    width: 100%;
    text-align: center;
}
div.interface-buttons {
    height: 40px;
}
div#outside-reference-holder {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
}
button.outside-reference {
    height: 40px;
    position: inherit;
    margin: 0px 5px;
}
div#box-holders {
    width: 100%;
    text-align: center;
}
div#playback-holder {
    float: none;
}
div.comparator-holder {
    width: 260px;
    height: 300px;
    border: black 1px solid;
    padding-top: 5px;
    margin: 25px;
    display: inline-block;
}
div.comparator-selector {
    width: 248px;
    height: 250px;
    border: black 1px solid;
    position: relative;
    background-color: #FF0000;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: auto;
}
div.comparator-image {
    background-color: rgba(255, 255, 255, 0);
}
img.comparator-image {
    width: inherit;
    height: inherit;
    z-index: -1;
    position: absolute;
    display: inline;
    right: 0px;
}
div.disabled {
    background-color: #AAA;
}
div.selected {
    background-color: rgba(0, 200, 0, 0.4);
}
div.comparator-selector span {
    font-size: 4em;
}
button.comparator-button {
    width: 250px;
    height: 38px;
    position: relative;
    margin-top: 5px;
}
div.playhead {
    margin: 5px;
}
div#page-count {
    float: left;
    margin: 0px 5px;
}
