# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
# enable PHP error logging
php_flag  log_errors on
php_value error_log  ./error.log
# prevent access to PHP error log
<Files error.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>
