/*
 * Hold any style information for MUSHRA interface. Customise if you like to make the interface your own!
 * 
 */

body {
    /* Set the background colour (note US English spelling) to grey*/
    background-color: #ddd
}
div.pageTitle {
    width: auto;
    height: 20px;
    margin: 10px 0px;
}
div.pageTitle span {
    font-size: 1.5em;
}
button {
    /* Specify any button structure or style */
    min-width: 20px;
    background-color: #ddd
}
div#slider-holder {
    height: inherit;
    position: absolute;
    left: 0px;
    z-index: 3;
    margin-top: 25px;
}
div#scale-holder {
    position: absolute;
    left: 0px;
    z-index: 2;
}
div#scale-text-holder {
    position: relative;
    float: left;
}
div.scale-text {
    position: absolute;
    font-size: 1.2em;
}
canvas#scale-canvas {
    position: relative;
    float: left;
}
div.track-slider {
    float: left;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
    margin-left: 94px;
    margin-bottom: 30px;
}
div.track-slider-range {
    float: left;
    height: 100%;
    margin: 0px 50px;
    position: relative;
}
div.track-slider-title {
    float: left;
    padding-top: 5px;
    width: 100px;
}
button.track-slider-button {
    float: left;
    width: 100px;
    height: 30px;
}
input.track-radio {
    position: absolute;
    margin: 9px 0px;
}
div#outside-reference-holder {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
}
button.outside-reference {
    position: inherit;
    margin: 0px 5px;
}
div.track-slider-playing {
    background-color: #FFDDDD;
}
div#page-count {
    float: left;
    margin: 0px 5px;
}
div#master-volume-holder {
    position: absolute;
    top: 10px;
    left: 120px;
}
