div.timeline-element {
    display: flex;
    justify-content: center;
}
div.timeline-element-content {
    width: 90%;
    min-width: 200px;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}
div.timeline-element-canvas-holder {
    width: inherit;
    height: 160px;
    margin: auto;
}
canvas.canvas-layer1 {
    position: absolute;
}
canvas.canvas-layer2 {
    position: absolute;
    z-index: -1;
}
canvas.canvas-layer3 {
    position: absolute;
    z-index: -2;
}
canvas.canvas-layer4 {
    position: absolute;
    z-index: -3;
}
canvas.timeline-element-canvas {
    border: 1px solid black;
}
canvas.canvas-disabled {
    background-color: gray;
}
div.timeline-element-comment-holder {}
img.timeline-element-image {
    height: 150px;
    max-width: 20%;
    display: inline-block;
    float: right;
}
div.comment-entry {
    border: 1px solid #444444;
    max-width: 600px;
    min-width: 400px;
    margin: 0px 0px 5px 5px;
    padding: 5px;
    height: 80px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
div.comment-entry-header {
    display: table;
    text-align: unset;
    width: 100%;
}
div.comment-entry-header span {
    float: left;
}
div.comment-entry-header button {
    float: right;
}
textarea.comment-entry-text {
    resize: none;
    margin: auto;
    width: 90%;
}
