div.timeline-element {
    display: flex;
    justify-content: center;
}

div.timeline-element-content {
    max-width: 800px;
    min-width: 200px;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}

div.timeline-element-canvas-holder {
    display: flex;
    width: inherit;
    height: 160px;
    margin-left: 50px;
}

canvas.canvas-layer1{
    position: absolute;
}
canvas.canvas-layer2 {
    position: absolute;
    z-index: -1;
}
canvas.canvas-layer3 {
    position: absolute;
    z-index: -2;
}
canvas.canvas-layer4 {
    position: absolute;
    z-index: -3;
}

canvas.timeline-element-canvas {
    border: 1px solid black;
}

canvas.canvas-disabled {
    background-color: gray;
}

div.timeline-element-comment-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.comment-entry {
    border: 1px solid #444444;
    max-width: 600px;
    min-width: 400px;
    margin: 0px 0px 5px 5px;
    padding: 5px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

div.comment-entry-header {
    display: flex;
    justify-content: space-between;
}

textarea.comment-entry-text {
    resize: none;
    margin: auto;
}